<a href="https://colab.research.google.com/github/GerardMorenoC/programacio/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Serveix per treballar amb dades. Tenen 3 tipus de estructures.
-Series:estructures d'una dimensió que porten el seu index asociat a les segones.
-Data frames:son estructures de dues dimensions.
-Panells:son estructures de tres dimensions.

In [ ]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.22.4 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [ ]:
import pandas as pd

setmana= pd.Series(["Dilluns","Dimarts","Dimecres","Dijous","Divendres","Dissabte","Diumenge"])
print(setmana)

0      Dilluns
1      Dimarts
2     Dimecres
3       Dijous
4    Divendres
5     Dissabte
6     Diumenge
dtype: object

In [ ]:
import pandas as pd

setmana= pd.Series(["Dilluns","Dimarts","Dimecres","Dijous","Divendres","Dissabte","Diumenge"])
print(setmana)

0      Dilluns
1      Dimarts
2     Dimecres
3       Dijous
4    Divendres
5     Dissabte
6     Diumenge
dtype: object 0

Serie numerica: 12,58,63,47,81,35

mirar la llargada de la serie numerica (size)

sumar tots els numeros (sum) cal que la suma digui "l'import total es {sum}"

In [ ]:
import pandas as pd
numeros= pd.Series([12,58,63,47,81,35])
numeros.size

6

In [ ]:
import pandas as pd
numeros= pd.Series([12,58,63,47,81,35])
suma=numeros.sum()
print(f"L'import total és {suma}")

L'import total és 296

In [ ]:
import pandas as pd
numeros= pd.Series([12,58,63,47,81,35])
numeros.mean()           #mitjana
round(numeros.mean(),2)  #redondear

49.33

In [ ]:
import pandas as pd
numeros= pd.Series([12,58,63,47,81,35])
maxim=numeros.max()
minim=numeros.min()
print(maxim)
print(minim)

81
12

In [ ]:
import pandas as pd
numeros= pd.Series([12,58,63,47,81,35])
numeros.cumsum()

0     12
1     70
2    133
3    180
4    261
5    296
dtype: int64

In [ ]:
import pandas as pd
numeros= pd.Series([12,58,63,47,81,35])
numeros.value_counts()

12    1
58    1
63    1
47    1
81    1
35    1
Name: count, dtype: int64

In [41]:
import pandas as pd
num=pd.Series([12,8,5,5,14,3,12,7])
size=num.size
print(size)

suma=num.sum()
print(suma)

mitjana=num.mean()
print(mitjana)

arrodonir=round(num.mean(),2)
print(arrodonir)

maxim=num.max()
minim=num.min()
print(maxim)
print(minim)

cumsum=num.cumsum()
print(cumsum)

value=num.value_counts()
print(value)

8
66
8.25
8.25
14
3
0    12
1    20
2    25
3    30
4    44
5    47
6    59
7    66
dtype: int64